<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>JankenGAME!</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Match</h1>

  <h2><span sec:authentication="name"></span>&ensp;V.S.&ensp;[[${match.userName}]]</h2>

  <div>
    <a th:href="@{/fight?n=3(id=${match.id})}" method="post">ぐー</a>
    <a th:action="@{/fight?n=3(id=${match.id})}" method="post">ちょき</a>
    <a th:href="@{/fight?n=3(id=${match.id})}">ぱー</a>
  </div>
  <!--
  <div>
  <div th:if="${player}">
    あなたの手 [[${player}]]
  </div>
  <div th:if="${cpu}">
    相手の手 [[${cpu}]]
  </div>
  <div th:if="${hantei}">
    結果 [[${hantei}]]
  </div>
  </div>-->
  <a href="/janken">もどる</a>
</body>

</html>
